@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.form-container{
    margin-top: 20px;
}

// .sub-navbar {
//   height: 48px;
//   line-height: 48px;
//   position: relative;
//   width: 100%;
//   text-align: right;
//   padding-right: 4px;
//   transition: 600ms ease position;
//   background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

//   .subtitle {
//     font-size: 20px;
//     color: #fff;
//   }

//   &.draft {
//     background: #d0d0d0;
//   }

//   &.deleted {
//     background: #d0d0d0;
//   }
// }

//子导航栏
.sub-navbar {
  min-height: 48px;
  height: auto !important;
  line-height: 48px;
  position: relative;
  width: 100%;
  //flex布局，el-datepiker不在一行上
  // display: flex;
  // flex-flow: row-reverse wrap-reverse;
  // justify-content: flex-start;
  align-content: flex-start;
  padding: 0 10px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  box-shadow: 1px 2px 0px 0px rgba(0, 21, 41, 0.08);

  > div:nth-child(n){
    margin-right: 5px;
  }

  > button:nth-child(n){
    margin-right: 5px;
  }

  .subtitle {
    font-size: 14px;
    color: #fff;
  }

  &.edit {
    // background: linear-gradient(90deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 0, 1) 100%, rgba(255, 255, 0, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 230, 102, 1) 0%, rgba(255, 230,102, 1) 0%, rgba(255, 153, 0, 1) 100%, rgba(255, 153, 0, 1) 100%);
  }

  &.add {
    background: linear-gradient(90deg, rgba(204, 255, 153, 1) 0%, rgba(204, 255, 153, 1) 0%, rgba(51, 255, 0, 1) 100%, rgba(51, 255, 0, 1) 100%);
  }

}

//--------自定义滚动条-------
//定义滚动条尺寸
::-webkit-scrollbar{
  width:5px;
  height:5px;
}

// 定义滚动条轨道
::-webkit-scrollbar-track{
  border-radius: 1em;
  background-color: rgba(50,50,50,0);
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // background-color: red;

}
//定义滑块
::-webkit-scrollbar-thumb{
  border-radius: 1em;
  background-color: rgba(50,50,50,.1);
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // background-color: green;
}
